@keyframes rainbow {
  0% { color: #ff0000; }
  20% { color: #ffa500; }
  40% { color: #ffff00; }
  60% { color: #008000; }
  80% { color: #0000ff; }
  100% { color: #ff0000; }
}

.animate-bounce {
  animation: rainbow 5s linear infinite, bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes letterAnimation {
  0% { 
    color: #ff0000;
    transform: translateY(0);
  }
  25% {
    color: #00ff00;
    transform: translateY(-20px);
  }
  50% {
    color: #0000ff;
    transform: translateY(0);
  }
  75% {
    color: #ff00ff;
    transform: translateY(20px);
  }
  100% {
    color: #ff0000;
    transform: translateY(0);
  }
}

.animated-letter {
  animation: letterAnimation 2s ease-in-out infinite;
}
.animate-rainbow {
  animation: rainbow 5s linear infinite;
  font-weight: bold;
}